{% extends "base.twig" %}

{% block main %}

    <ol>
        <li><a href="/logs">View Anonymous IP logs</a></li>
        <li><a href="/add-user">Create New Users</a></li>
        <li><a href="/unique-pw">Identify Duplicate/Unique Passwords</a></li>
        <li><a href="/personnel">Add/Lookup People By SSN</a></li>
    </ol>
{% endblock %}