{% extends "base.twig" %}

{% block main %}
    <h4>Duplicate Passwords</h4>

    {% if users %}
        <div class="table table-bordered table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Realname</th>
                    <th>Dupe</th>
                    <th>Password Hash</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Realname</th>
                    <th>Dupe</th>
                    <th>Password Hash</th>
                </tr>
                </tfoot>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['username']|e('html') }}</td>
                        <td>{{ user['realname']|e('html') }}</td>
                        <td><code>{{ user['dupecheck']|e('html') }}</code></td>
                        <td><code>{{ user['passwd']|e('html') }}</code></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <hr />

    {% set personnelForm = "unique-pw" %}
    {% include "add-user-form.twig" %}

    <hr />

    <a href="/">Return</a>
{% endblock %}